@page
@inject IHttpContextAccessor HttpContextAccessor;
@using YoublogProject.Utils
@using YoublogProject.Models
@model YoublogProject.Pages.Posts.IndexModel
@{
}
@Html.AntiForgeryToken()

@{
    var user = SessionUtil.GetObjectFromJson<User>(HttpContextAccessor.HttpContext.Session, "user") as User;
}

<div style="margin-top: 150px;" class="d-flex flex-column align-items-center">

    <div class="post-list filter border rounded-3 shadow-sm p-3 mb-3">
        <form method="post" class="d-flex flex-column justify-content-between mt-0">
            <h3>Filters</h3>

            <div class="form-group mb-3">
                <label for="search">Search:</label>
                <input class="form-control w-100" id="search" asp-for="PostFilterDto.SearchContent" />
            </div>

            <div class="form-group mb-3">
                <label for="privacyMode">Privacy Mode:</label>
                <select class="form-select" id="privacyMode" asp-for="PostFilterDto.PrivacyMode">
                    <option value="public">Public</option>
                    @if (user?.UserId == Model.UserId)
                    {
                        <option value="all">All</option>
                        <option value="private">Private</option>
                        <option value="friends">Friends</option>
                    }
                    @if (ViewData["checkFriend"] != null )
                    {
                        <option value="friends">Friends</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="sortField">Sort Field:</label>
                <select class="form-select" id="sortField" asp-for="PostFilterDto.SortField">
                    <option value="like">Like</option>
                    <option value="comment">Comment</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="sortField">Sort Field:</label>
                <div class="d-flex align-items-center gap-3">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="asc" value="asc" checked asp-for="PostFilterDto.SortDirection">
                        <label class="form-check-label" for="asc">ASC</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="desc" value="desc" asp-for="PostFilterDto.SortDirection">
                        <label class="form-check-label" for="desc">DESC</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-dark">Filter</button>
        </form>
    </div>

    <div class="post-list">
        @foreach (Post p in Model.Posts)
        {
            var checkLike = Model.Reactions.FirstOrDefault(r => r.PostId == p.PostId && r.UserId == user?.UserId) != null;
            <div class="post border shadow">
                <div alt="Detail" class="post-detail-card" onclick="window.location.href='/Posts/PostDetail?id=@p.PostId'">
                    <div class="d-flex w-100 justify-content-between align-items-center px-3 pt-3">

                        <div class="d-flex align-items-center gap-3">
                            <img class="avatar-circle" src="~/media/@p.User?.Avatar" />
                            <div class="d-flex flex-column align-items-baseline">
                                <span class="name">@p.User?.FullName</span>
                                <i>@p.CreatedAt?.ToString("MM/dd/yyyy")</i>
                            </div>
                        </div>

                        <div>
                            @if (p.PrivacyMode == "public")
                            {
                                <i class="fa-solid fa-earth-americas fa-lg"></i>
                            }
                            else if (p.PrivacyMode == "friends")
                            {
                                <i class="fa-solid fa-user-group fa-lg"></i>
                            }
                            else
                            {

                                <i class="fa-solid fa-user fa-lg"></i>
                            }
                            @if (user?.UserId == p.UserId)
                            {
                                <i onclick="window.location.href='/Posts/EditPost?id=@p.PostId'" class="fa-solid fa-pen-to-square fa-lg edit-icon"></i>
                            }
                        </div>
                    </div>
                    <div class="text-start mt-3 px-3">
                        @p.Content?.Description
                    </div>
                    @if (p?.Content?.ContentUrl != null)
                    {
                        <img class="photo" src="/media/@p.Content?.ContentUrl" />
                    }
                    <div class="p-3 d-flex justify-content-between">
                        <span>
                            <i class="fa-solid fa-heart"></i>
                            <span id="like-count-@p.PostId">@p.Reactions.Count</span>
                        </span>
                        <span>
                            <i class="fa-solid fa-comment"></i>
                            <span id="like-count-@p.PostId">@p.Comments.Count</span>
                        </span>
                    </div>
                </div>
                <div class="post-action d-flex justify-content-around border-top border-bottom">
                    <div role="button" class="like" data-post-id="@p.PostId">
                        @if (checkLike)
                        {
                            <i id="like-icon-@p.PostId" class="fa-solid fa-heart fa-lg"></i>
                        }
                        else
                        {
                            <i id="like-icon-@p.PostId" class="fa-regular fa-heart fa-lg"></i>

                        }
                        <span style="font-size: 20px;">Like</span>
                    </div>
                    <div role="button" onclick="window.location.href='/Posts/PostDetail?id=@p.PostId'">
                        <i class="fa-regular fa-comment fa-lg"></i>
                        <span style="font-size: 20px;">Comment</span>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        $(".like").click(function () {
            var postId = $(this).data('post-id');
            var userId = @user?.UserId;

            $.ajax({
                type: "POST",
                url: "/Posts?handler=GetAjax",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { "userId": userId, "postId": postId },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                success: function (msg) {
                    var likeCountSpan = $('#like-count-' + postId);
                    var currentCount = parseInt(likeCountSpan.text());
                    if (msg == "like") {
                        likeCountSpan.text(currentCount + 1);
                        $('#like-icon-' + postId).removeClass('fa-regular').addClass('fa-solid');

                    } else {
                        likeCountSpan.text(currentCount - 1);
                        $('#like-icon-' + postId).removeClass('fa-solid').addClass('fa-regular');
                    }
                },
                error: function (error) {
                    console.log("miaaaaaa")
                    console.log(error, 'hhuuuuu');
                }
            });
        });
    </script>
}
