@page
@using YoublogProject.Models
@model YoublogProject.Pages.ProfileModel
@{
}

<style>
    .profile-card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #d3d7dd
    }

    .avatar {
        width: 100%;
        height: auto;
    }

    .profile-header {
        color: #fff;
        padding: 20px;
        text-align: center;
        font-weight: bold;
    }

    .profile-info {
        padding: 20px;
    }

        .profile-info span {
            text-align: right;
        }
</style>


<div class="vh-100 d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-md-5 d-flex flex-column justify-content-between">
                <div class="card profile-card shadow">
                    <img src="/media/@Model.User.Avatar" class="card-img-top avatar" alt="Avatar">
                </div>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Edit Profile
                </button>
            </div>
            <div class="col-md-7">
                <div class="card profile-card">
                    <div class="card-header profile-header bg-dark">
                        <h3>My Profile</h3>
                    </div>
                    <div class="card-body profile-info">
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Username:</h3> <h4 class="text-secondary">@Model.User.Username</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Email:</h3> <h4 class="text-secondary">@Model.User.Email</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Full Name:</h3> <h4 class="text-secondary">@Model.User.FullName</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Date of Birth:</h3> <h4 class="text-secondary">@Model.User.DateOfBirth?.ToString("dd/MM/yyyy")</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Gender: </h3> <h4 class="text-secondary">@Model.User.Gender?.ToUpper()</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Address: </h3> <h4 class="text-secondary">@Model.User.Address</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Phone Number: </h3> <h4 class="text-secondary">@Model.User.PhoneNumber</h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                            <h3>Join At</h3> <h4 class="text-secondary">@Model.User.CreatedAt?.ToString("dd/MM/yyyy")</h4>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Profile Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="profile" method="post" enctype="multipart/form-data">
                                <div>
                                    <div class="mb-4 d-flex justify-content-center">
                                        <img class="card shadow" id="selectedImage" src="/media/@Model.User.Avatar"
                                             alt="example placeholder" style="width: 200px; height: 200px; object-fit: cover" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="btn btn-dark btn-rounded">
                                            <label class="form-label text-white m-1" for="avatar">Choose file</label>
                                            <input class="form-control d-none" id="avatar" onchange="displaySelectedImage(event, 'selectedImage')" asp-for="Profile.Avatar" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fullName" class="form-label">Full Name:</label>
                                    <input type="text" id="fullName" class="form-control" value="@Model.User.FullName" asp-for="Profile.FullName">
                                </div>
                                <div class="form-group">
                                    <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                                    <input type="date" id="dateOfBirth" class="form-control" value="@Model.User.DateOfBirth?.ToString("yyyy-MM-dd")" asp-for="Profile.DateOfBirth">
                                </div>
                                <div class="form-group mt-2">
                                    <div class="d-flex w-100 justify-content-between">
                                        <label class="form-label">Gender:</label>

                                        <div class="form-check">
                                            @if (Model.User.Gender == "male")
                                            {
                                                <input class="form-check-input" type="radio" id="male" value="male" checked asp-for="Profile.Gender">
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" id="male" value="male" asp-for="Profile.Gender">
                                            }
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check">
                                            @if (Model.User.Gender == "female")
                                            {
                                                <input class="form-check-input" type="radio" id="female" value="female" checked asp-for="Profile.Gender">
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" id="female" value="female" asp-for="Profile.Gender">
                                            }
                                            <label class="form-check-label" for="female">Female</label>
                                        </div>
                                        <div class="form-check">

                                            @if (Model.User.Gender == "other")
                                            {
                                                <input class="form-check-input" type="radio" id="other" value="other" checked asp-for="Profile.Gender">
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" id="other" value="other" asp-for="Profile.Gender">
                                            }


                                            <label class="form-check-label" for="other">Other</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="form-label">Address:</label>
                                    <input type="text" id="address" class="form-control" value="@Model.User.Address" asp-for="Profile.Address">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label">Phone Number:</label>
                                    <input type="text" id="phoneNumber" class="form-control" value="@Model.User.PhoneNumber" asp-for="Profile.PhoneNumber">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button form="profile" type="submit" class="btn btn-dark">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>

@section Scripts
        {
    <script type="text/javascript">
        $("#callAjax").click(function () {
            $.ajax({
                type: "POST",
                url: "/Posts?handler=GetAjax",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { "name": "Mark" },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                success: function (msg) {
                    console.log(msg);
                },
                error: function (error) {
                    console.log("miaaaaaa")
                    console.log(error, 'hhuuuuu');
                }
            });
        });
    </script>
}